body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
  }
  
  #app{
    width: 100%;
    height: 100%;
  }
  .chatPage{
    justify-content: center;
    display: flex;
  }
  #frame {
    width: 60%;
    min-width: 360px;
    /* max-width: 1000px; */
    height: 100vh;
    min-height: 300px;
    /* max-height: 720px; */
    background: #E6EAEA;
  }
  @media screen and (max-width: 1000px) {
    #frame {
      width: 100%;
      height: 100vh;
    }
  }
  #frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100vh;
    background: #2c3e50;
    /* background: -webkit-linear-gradient(bottom, #005bea, #00c6fb); */
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel {
      width: 58px;
      min-width: 58px;
    }
  }
  #frame #sidepanel #profile {
    width: 90%;
    margin: 25px auto;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
      width: 100%;
      margin: 0 auto;
      padding: 5px 0 0 0;
      background: #32465a;
    }
  }
  #frame #sidepanel #profile.expanded .wrap {
    height: 250px;
    line-height: initial;
  }
  #frame #sidepanel #profile.expanded .wrap p {
    margin-top: 200px;
  }
  #frame #sidepanel #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  #frame #sidepanel #profile .wrap {
    /* height: 150px; */
    margin-bottom: 50px;
    line-height: 65px;
    /* overflow: scroll; */
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
      height: 55px;
    }
  }
  #frame #sidepanel #profile .wrap img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e74c3c;
    /* height: auto; */
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap img {
      width: 40px;
      margin-left: 4px;
    }
  }
  #frame #sidepanel #profile .wrap img.online {
    border: 2px solid #2ecc71;
  }
  #frame #sidepanel #profile .wrap img.away {
    border: 2px solid #f1c40f;
  }
  #frame #sidepanel #profile .wrap img.busy {
    border: 2px solid #e74c3c;
  }
  #frame #sidepanel #profile .wrap img.offline {
    border: 2px solid #95a5a6;
  }
  #frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
    margin-top: 1em;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
      display: none;
    }
  }
  #frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap i.expand-button {
      display: none;
    }
  }
  #frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options {
      width: 58px;
      margin-top: 57px;
    }
  }
  #frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options.active {
      margin-top: 62px;
    }
  }
  #frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options:before {
      margin-left: 23px;
    }
  }
  #frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
  }
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 30px 18px;
    display: block;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li {
      padding: 15px 0 35px 22px;
    }
  }
  #frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
  }
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
      width: 14px;
      height: 14px;
    }
  }
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
      height: 18px;
      width: 18px;
    }
  }
  #frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li p {
      display: none;
    }
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
  }
  #frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
  }
  #frame #sidepanel #profile .wrap #expanded {
    padding: 50px 0 0 0;
    display: block;
    line-height: initial !important;
  }
  #frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
  }
  #frame #sidepanel #profile .wrap #expanded input {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
  }
  #frame #sidepanel #profile .wrap #expanded input:focus {
    outline: none;
    background: #435f7a;
  }
  #frame #sidepanel #search {
    /* border-top: 1px solid #32465a; */
    border-bottom: 1px solid #32465a;
    margin-bottom: 10px;
    font-weight: 300;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #search {
      display: none;
    }
  }
  #frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
  }
  #frame #sidepanel #search input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
    width: 100%;
  }
  #frame #sidepanel #search input:focus {
    outline: none;
    background: #435f7a;
  }
  #frame #sidepanel #search input::-webkit-input-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input::-moz-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:-ms-input-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:-moz-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #contacts {
    height: calc(100% - 177px);
    /* overflow-y: scroll; */
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
    }
  }
  #frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
  }
  #frame #sidepanel #contacts ul li.contact {
    /* position: relative; */
    padding:10px 10px 10px 10px;
    height: 70px;
    vertical-align: 1em;
    font-size: 0.9em;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
      padding: 6px 0 46px 8px;
    }
  }
  #frame #sidepanel #contacts ul li.contact:hover {
    background: #32465a;
    /* background: #ffffff; */
  }
  #frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
  }
  #frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
  }
  #frame #sidepanel #contacts ul li.contact .wrap {
    margin: 0 auto;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
      width: 100%;
      position: relative;

    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
  }
  #frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
  }
  #frame #sidepanel #contacts ul li.contact .wrap span.away {
    background: #f1c40f;
  }
  #frame #sidepanel #contacts ul li.contact .wrap span.busy {
    background: #e74c3c;
  }
  #frame #sidepanel #contacts ul li.contact .wrap img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
      margin-right: 0px;

    }
  }
  /* #frame #sidepanel #contacts ul li.contact .wrap .meta {
  } */
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
      display: inline;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
    margin: 0;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    /* margin: -15px 0 0 0; */
    /* margin: 0; */
    /* font-weight: 400; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
  }
  #frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  #frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
      float: none;
      width: 100%;
      padding: 15px 0;
    }
  }
  #frame #sidepanel #bottom-bar button:focus {
    outline: none;
  }
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
      border-right: none;
      border-bottom: 1px solid #2c3e50;
    }
  }
  #frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
  }
  #frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
      font-size: 1.3em;
    }
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
      display: none;
    }
  }
  #frame .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame .content {
      width: calc(100% - 58px);
      min-width: 300px !important;
    }
  }
  @media screen and (min-width: 900px) {
    #frame .content {
      width: calc(100% - 340px);
    }
  }
  #frame .content .contact-profile {
    width: 100%;
    height: 60px;
    vertical-align: middle;

    line-height: 60px;
    background: #f5f5f5;
  }
  #frame .content .contact-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
  }
  #frame .content .contact-profile p {
    margin-top: 1em;

    float: left;
  }
  #frame .content .contact-profile .social-media {
    float: right;
  }
  #frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
  }
  #frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
  }
  #frame .content .contact-profile .social-media i:hover {
    color: #435f7a;
  }
  #frame .content .messages {
    height: auto;
    /* min-height: calc(100% - 93px); */
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    /* padding-bottom: 100px; */

  }
  @media screen and (max-width: 735px) {
    #frame .content .messages {
      max-height: calc(100% - 105px);
    }
  }
  #frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  #frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  #frame .content .messages ul li {
    display: inline-block;
    clear: both;
    /* float: left; */
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
  #frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  #frame .content .messages ul li.sent img {
    /* margin: 6px 8px 0 0; */
    width:100%;
    float:left;
  }
  
  #frame .content .messages ul li.replies img {
    float: right;
    width:100%;

    /* margin: 6px 0 0 8px; */
  }

  #frame .content .messages ul li.replies #fileView{
    word-wrap: break-word;
    widows: 100%;
    border-radius: 8px;
    background-color: #dadada;
    color:#bdbfc2;
    justify-content: center;
    margin: 1px 0 5px 0;
    padding: 5px 8px 5px 5px;
    
  }
  
  #frame .content .messages ul li.sent #fileView{
    word-wrap: break-word;
    widows: 100%;
    border-radius: 8px;
    background-color: #d4f7ce;
    color:#579ee6;
    justify-content: center;
    margin: 1px 0 5px 0;
    padding: 5px;
    
  }

  #frame .content .messages ul li.sent .chatCard {
    background: #9bda94;

    /* color: #f5f5f5; */
    border-radius: 8px;
    /* padding-bottom: 5px; */
    float: right;
    


  }

  #frame .content .messages ul li.replies .chatCard {
    background: #f5f5f5;

    border-radius: 8px;
    /* padding-bottom: 5px; */
    float: left;
  }
  /* #frame .content .messages ul li img {
    width: 100px;
    /* border-radius: 50%; */
    /* float: left; */
  /* } */ */
  #frame .content .messages ul li .chatCard {
    display: inline-block;
    /* padding: 10px 15px; */
    border-radius: 20px;
    max-width: 205px;
    min-width: 150px;
    line-height: 130%;
  }
  @media screen and (min-width: 735px) {
    #frame .content .messages ul li .chatCard {
      max-width: 300px;
      min-width: 150px;

    }
  }

  #frame .content .message-input  {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
  }

  #frame .content .message-input .add-files{
    /* position: relative; */
    /* bottom: 0; */
    /* width: 80%; */
    /* height: 100px; */
    margin:10px;
  }

  #frame .content .message-input form {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  /* #frame .content .message-input form .wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
  } */
  #frame .content .message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    height:50px;
    width: calc(100% - 90px);
    padding: 0px 0px 0px 10px;
    font-size: 0.8em;
    color: #32465a;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap input {
      padding: 15px 32px 16px 8px;
    }
  }
  #frame .content .message-input .wrap input:focus {
    outline: none;
  }
  #frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap .attachment {
      margin-top: 17px;
      right: 65px;
    }
  }
  #frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
  }
  #frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
      padding: 16px 0;
    }
  }
  #frame .content .message-input .wrap button:hover {
    background: #435f7a;
  }
  #frame .content .message-input .wrap button:focus {
    outline: none;
  }
  .fa {
    font-size: 1.5em !important;
  }
  small {
    font-size: 80% !important;
  }
  
  #frame #sidepanel #profile .wrap #expanded button {
      float: left;
      border: none;
      width: 50%;
      background: #32465a;
      color: #f5f5f5;
      cursor: pointer;
      font-size: 0.85em;
      font-family: "proxima-nova", "Source Sans Pro", sans-serif;
      margin-bottom: 6px;
      border-radius: 3px;
      padding: 7px;
      width: calc(100% - 43px);
  }


 .sidepanel {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    position: relative;
    z-index: 1;
  }
  
  .sidepanel::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #005bea;
    background: -webkit-linear-gradient(bottom, #005bea, #00c6fb);
    background: -o-linear-gradient(bottom, #005bea, #00c6fb);
    background: -moz-linear-gradient(bottom, #005bea, #00c6fb);
    background: linear-gradient(bottom, #005bea, #00c6fb);
    opacity: 0.9;
  }

  .img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
  }


.contact-navlink-active{
  color:#2c3e50

  }


  .search-tags{
    width: 100%;
    color:#95a5a6;
    font-size: 20px;
    padding-left: 1em;
    margin-bottom: .5em;
    border-bottom: 1px solid #E6EAEA;

    
  }
 
  .btn-start-chat{
    width: 25%; 
    height:60px;
    font-size: 25px;
    background: rgb(90, 255, 68);
    border-radius: 8px;
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 100;
    margin-bottom: 10px;
  }

  .button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* input[type="file"] {
    display: none;
} */

.message-input-file{
  display: none;
  /* visibility:hidden; */
  /* height: 0px; */
}
.custom-message-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
/* .send-resetemail-btn{

} */



.send-resetemail-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #e0e0e0;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  position: relative;
  z-index: 1;
}

.send-resetemail-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  top: 0;
  left: 0;
  background: #005bea;
  background: -webkit-linear-gradient(left, #005bea, #00c6fb);
  background: -o-linear-gradient(left, #005bea, #00c6fb);
  background: -moz-linear-gradient(left, #005bea, #00c6fb);
  background: linear-gradient(left, #005bea, #00c6fb);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

/* .send-resetemail-btn:hover {
  background: transparent;
  color: #fff;
} */

.send-resetemail-btn:hover:before {
  opacity: 1;
}


/* .fileView{
  widows: 100%;
  border-radius: 8px;
  background-color: #79b372;
  color:#496886;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  
} */

.name-color{
  color:yellow;
}


.chatCard .card-header div{
  color:blue;
 
}

.chatCard .card-body div{
  color: rgb(0, 0, 0); 
}

.chatCard .card-body div footer div{
  color: rgb(0, 0, 0); 
  float:right;
  font-size: 9px;
}


.chatCard .card-header{
  color:blue;
  font-size: small;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  border-bottom: none;
}


.chatCard .card-body{
  padding: 0px 2px 0px 2px;
}


.message-content{
  word-wrap: break-word;
  color: black;
  padding-left: 10px;
  font-size: medium;
}

.lastMessage{
  font-size: smaller;
  padding-top: -0px
}



.navactiveclass{
  /* font-weight: bold; */
  color: rgb(99, 194, 99);
}

.navactiveclass .contact{
  background-color: #32465a
}

.set-position{
  position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    right: 0;
}

.notfound{
  height: 100%;
  width: 100%;
  background-color: white;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarhead{
  width:100%;
  height:100px;

  background-color: #d1e6d9;
  border-bottom: 2px solid;
}
.navbarhead div{
  width:33.33%;
  font-size:20px;
  text-align: center;
  height:100%;
  float: left;
  color: black;
  padding-top: 20px;


}
button:hover {
  background-color: blue;
}

.navbarhead div .navbarelement{
  font-size: 20px;
  color:#000000
  

}

a:hover {
  background-color: blue;
}

.phonebookList{
  color: black;
}
.phonebookList div p{
  font-size: 25px;
}
.phonebook{
  background-color: rgb(255, 237, 215);
  height:50px;
  border-bottom: 1px solid;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}
.phonebook div{
  display: inline-block;
}
.phonebook div button{
  padding:5px;
  margin-right:10px;
}

.contactstyle{
  height:40px;
  border-bottom: 1px solid;
  padding-right: 5%;
  padding-top: 8px;
  width: 100%;
  background-color: rgb(255, 237, 215);

}
.contactstyle div button{

  padding:5px;
  margin-right:10px;
  
}

.contactstyle div{
  margin-left: 20px;
  display: inline-block;
  font-size: 15px;

}
.contactstyle div span{
  margin-right: 90px;
  display: inline-block;
  color:black;

}
.contactAddbutton{
  height:50px;
  margin-bottom: 8px;
}
.contactAddbutton >div{
  width:50%;
  text-align:center;
  float:left;
  font-size: 15px;
  color:black;
  padding:10px;

  border:1px solid;

}

.phonebookAddbutton{
  width:100%;
  text-align:center;
  font-size: 15px;
  color:black;
  padding:10px;
  height:50px;
  border:1px solid;

}

.contactContainer{
  width:50%;
  float:left;
  height: 93vh;
  border:1px solid;
}
.contactTitle{
  width:100%;
  font-size: 15px;
  color:black;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  border-bottom:1px solid;
}

.newcontactstyle{
  height:60px;
  border-bottom: 1px solid;
  width: 100%;
  background-color: rgb(255, 237, 215);

}

.newcontactstyle div{
  float: left;
  padding-right:5px;
  padding-left:5px;
}


.contacts{
  width: 70%;  
}

.phonebookContactButton{
  float: right;
}

.input-field .select-wrapper{
  padding:1px
}

.col .row{
  margin-bottom: 0;
}
.col .row .input-field{
  margin-top: 0;
}